.main_chat
  .main_chat__header
    .main_chat__header__group_name
      %h1
        = @group.name
      %ul{class: "main_chat__header__group_name__member_name"}
        Member :
        - @group.users.each do |user|
          %li  #{user.name}  
    .main_chat__header__edit
      = link_to(edit_group_path(@group.id) ,class: "main_chat__header__edit--btn") do    
        Edit
  .main_chat__message_list
    = render @messages
    
      
  .main_chat__message_form
    .main_chat__message_form__box
      = form_for [@group, @message] do |form|
        .main_chat__message_form__box__inner_box
          = form.text_field :content, placeholder: "type a message",class: "main_chat__message_form__box__inner_box--text_field"
          %label{class: "main_chat__message_form__box__inner_box__img"}
            = icon('fas', 'image' , class: "main_chat__message_form__box__inner_box__img--icon")
            = form.file_field :image, class: "main_chat__message_form__box__inner_box__img--btn"
        = form.submit "Send", class: "main_chat__message_form__box--btn"